########IN########
17,0x3C,0x30,0x1C
18,0x3C,0x30,0x1C
19,0x3C,0x30,0x1C
20,0x30,0x24,0x10
21,0x3C,0x30,0x1C
22,0x30,0x24,0x10
23,0x3C,0x30,0x1C
24,0x30,0x24,0x10
25,0x3C,0x30,0x1C
26,0x3C,0x30,0x1C
27,0x3C,0x30,0x1C
28,0x30,0x24,0x10
29,0x3C,0x30,0x1C
30,0x30,0x24,0x10
31,0x3C,0x30,0x1C
32,0x30,0x24,0x10

########FCC########
49,0x3C,0x30,0x1C
50,0x3C,0x30,0x1C
51,0x30,0x24,0x10
52,0x28,0x1C,0x08
53,0x30,0x24,0x10
54,0x28,0x1C,0x08
55,0x30,0x24,0x10
56,0x28,0x1C,0x08
57,0x3C,0x30,0x1C
58,0x34,0x28,0x14
59,0x30,0x24,0x10
60,0x24,0x18,0x08
61,0x30,0x24,0x10
62,0x24,0x18,0x08
63,0x30,0x24,0x10
64,0x24,0x18,0x08

******************************************************************
* Please follow the below format to set the sar value:           *
*                                                                *
* sar_mode,BR_sar_value,EDR_sar_value,BLE_sar_value              *
*                                                                *
* sar_mode = base_sar_mode + region * 16                         *
* region: CN(china) = 0, IN(india) = 1,                          *
*         EU(europe) = 2, FCC = 3, CE =4                         *
* CN: sar_mode  1 ~ 16                                           *
* IN: sar_mode  17 ~ 32                                          *
* EU: sar_mode  33 ~ 48                                          *
* FCC: sar_mode  49 ~ 64                                         *
* CE: sar_mode 65 ~ 80                                           *
*                                                                *
* base_sar_mode:                                                 *
*          1(bt body),                                           *
*          2(bt head),                                           *
*          3(bt + 2.4G wifi body),                               *
*          4(bt + 2.4G wifi head),                               *
*          5(bt + 5G wifi body),                                 *
*          6(bt + 5G wifi head),                                 *
*          7(bt + 2.4G wifi + 5G wifi body),                     *
*          8(bt + 2.4G wifi + 5G wifi head),                     *
*          9(bt + wwan body),                                    *
*          10(bt + wwan head),                                   *
*          11(bt + wwan + 2.4G wifi body),                       *
*          12(bt + wwan + 2.4G wifi head),                       *
*          13(bt + wwan + 5G wifi body),                         *
*          14(bt + wwan + 5G wifi head),                         *
*          15(bt + wwan + 2.4G wifi + 5G wifi body),             *
*          16(bt + wwan + 2.4G wifi + 5G wifi head)              *
******************************************************************
